/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --black02: #0d0d0d;
  --grey01: #fefefe;
  --grey02: #565656;
  --grey03: #575757;
  --grey04: #9f9f9f;
  --light-blue: #b8bfd4;
  --purple: #21163f;
  --footer-color: #303030;
  --triangle: #5646870f;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
li {
  list-style: none;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
.hero-container {
  height: 960px;
  background: url("../images/hero1.png") center center / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero-container,
main,
footer {
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
}
.btn {
  color: var(--white);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 98%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  border: 1px solid var(--grey01);
  padding: 17px 45px;
  position: relative;
}
.btn::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  top: 50%;
  left: -12px;
  transform: translate(-50%, -50%);
  background: var(--white);
}
h2 {
  color: var(--black);
  font-family: "Playfair Display", serif;
  font-size: 49px;
  font-weight: 500;
  line-height: 98%;
  letter-spacing: 0.735px;
  position: relative;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
/* Start Header */
header {
  padding: 30px 60px 70px;
}
header .header-links {
  display: flex;
  gap: 40px;
  align-items: center;
}
header .header-links a {
  font-family: "Alef", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--white);
}
header .logo {
  color: var(--white);
  font-family: "Bodoni Moda", serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 98%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 2;
}
.menu,
.close {
  display: none;
}
/* End Header */
/* Start Hero */
.hero {
  display: flex;
  height: 100%;
}
.hero-left {
  background: rgba(0, 18, 183, 0.1);
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 90px 40px;
  color: var(--white);
}
.hero-left h1 {
  text-align: center;
  font-family: "Gilda Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 98%;
  letter-spacing: 1px;
}
.hero-left p {
  text-align: center;
  font-family: "Gilda Display", serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 98%;
  letter-spacing: 0.66px;
  max-width: 498px;
}
.hero-left .btn {
  margin-top: 60px;
}
.hero-right {
  position: absolute;
  width: 54%;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../images/hero2.png) center center / cover no-repeat,
    lightgray 50% / cover no-repeat;
}
/* End Hero */

/* Start Slider Section */

.slider {
  padding: 80px 0 100px;
  overflow: hidden;
}
.slider h2 {
  margin: 0 100px 70px;
  width: fit-content;
}
.slider h2::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 1px;
  background: var(--black);
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-wrapper {
  display: flex;
  align-items: center;
}
.swiper-slide {
  width: 350px !important;
  flex-shrink: 0;
}
.swiper-slide img {
  height: 529px;
}
.slider h3 {
  color: var(--grey02);
  font-family: "Crimson Text", serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 98%;
  margin-top: 20px;
}
.swiper {
  position: relative;
}
.controlers {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}
.controlers div {
  display: flex;
  width: 46px;
  height: 46px;
  padding: 2.167px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid var(--grey03);
  color: var(--grey03);
  font-size: 22px;
  cursor: pointer;
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
}
.swiper-pagination span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--grey04);
}
.swiper-pagination span.swiper-pagination-bullet-active {
  background: var(--grey03);
}
/* End Slider Section */

/* Start Our Brand Section */

.brand {
  background: var(--light-blue);
  padding: 150px 50px 250px 100px;
  position: relative;
}
.brand h2 {
  margin: auto;
  padding-bottom: 40px;
  margin-bottom: 50px;
  width: fit-content;
}
.brand h2::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 1px;
  background: var(--black);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.brand article {
  max-width: 454px;
  text-align: center;
}
.brand article p,
.brand article button {
  color: var(--black02);
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.brand-imgs-mobile {
  display: none;
}
.brand-imgs {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  width: 612px;
  height: 120%;
}
.brand-imgs figure:nth-child(1) {
  width: 100%;
  height: 100%;
  background: url(../images/brand1.png) center center / cover no-repeat,
    lightgray 50% / cover no-repeat;
}
.brand-imgs figure:nth-child(2) {
  width: 385px;
  height: 488.665px;
  background: url(../images/brand2.png) center center / cover no-repeat,
    lightgray 50% / cover no-repeat;
  margin: -50% 0 0 -38%;
}
#more {
  display: none;
}

/* End Our Brand Section */
/* Start Parallax Section */

.parallax-container {
  padding: 370px 100px 100px;
}
.parallax-container h2,
.parallax-container h2 i {
  color: var(--black);
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 88px;
  font-weight: 400;
  line-height: 98%;
  letter-spacing: 1.76px;
}
.parallax-container h2::after {
  content: "";
  position: absolute;
  right: -15%;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 350px solid transparent;
  border-right: 280px solid transparent;
  border-top: 530px solid var(--triangle);
  transform: rotate(-14deg);
}
.parallax-container p {
  color: var(--black);
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 98%;
  letter-spacing: 1px;
  margin-top: 40px;
}
.parallax-imgs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 170px;
}
.parallax-imgs figure {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.parallax-imgs .left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
}
.parallax-imgs .left .small-fig {
  width: 193.636px;
  height: 201.936px;
}
.parallax-imgs .left .small-fig figure {
  background: url(../images/img6.png) center center / cover no-repeat,
    lightgray 50% / cover no-repeat;
}
.parallax-imgs .left .mid-fig {
  width: 339.694px;
  height: 460.107px;
}
.parallax-imgs .left .mid-fig figure {
  background: url(../images/img1.png) center center / cover no-repeat,
    lightgray 50% / cover no-repeat;
}
.parallax-imgs .middle .xxl-fig {
  width: 447.023px;
  height: 568.743px;
  border-radius: 202px 202px 0px 0px;
}
.parallax-imgs .middle .xxl-fig figure {
  border-radius: 202px 202px 0px 0px;
  background: url(../images/img4.png) center center / cover no-repeat,
    lightgray 50% / cover no-repeat;
}
.parallax-imgs .middle .btn {
  width: 250px;
  font-size: 17px;
  padding: 21px 0;
  border-color: var(--black);
  color: var(--black);
  margin: auto;
  margin-top: 40px;
}
.parallax-imgs .middle .btn::before {
  width: 77px;
  background: var(--black);
  left: -25px;
}
.parallax-imgs .right .xl-fig {
  width: 373.995px;
  height: 547.016px;
}
.parallax-imgs .right .xl-fig figure {
  background: url(../images/img5.png) center center / cover no-repeat,
    lightgray 50% / cover no-repeat;
}
.parallax-imgs div {
  overflow: hidden;
}
.parallax-imgs figure::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  opacity: 0.2;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 0.4s ease-in;
}
.parallax-imgs figure:hover {
  transform: scale(1.2);
}
.parallax-imgs figure:hover::after {
  width: 1000px;
  height: 1000px;
}
.parallax-container .mobile-btn {
  display: none;
}

/* End Parallax Section */
/* Start Footer */

footer {
  background: var(--purple);
  padding: 100px;
}
.footer-links {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}
.footer-links li {
  width: 300px;
  height: 56px;
  flex-shrink: 0;
  background: var(--white);
  display: grid;
  place-content: center;
}
.footer-links a {
  color: var(--footer-color);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

/* End Footer */

/* Responsive */
@media only screen and (max-width: 1400px) {
  .parallax-imgs .left .mid-fig {
    width: 280px;
  }
  .parallax-imgs .middle .xxl-fig {
    width: 400px;
  }
  .parallax-imgs .right .xl-fig {
    width: 350px;
  }
}
/* Tablet */
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 35px;
    letter-spacing: 0.525px;
  }
  .btn {
    width: 197px;
    padding: 12px 45px;
    font-size: 13px;
    letter-spacing: 0.26px;
  }
  .btn::before {
    display: none;
  }
  header {
    padding: 30px 30px 70px;
    background: rgba(0, 18, 183, 0.1);
  }
  header .logo {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
  header .header-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 754px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: url(../images/hero1.png) center center / cover no-repeat,
      rgba(0, 18, 183, 0.1);
    background-blend-mode: overlay;
    padding: 40px 50px 40px 40px;
    z-index: 100;
    display: none;
  }
  .menu {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .close {
    align-self: flex-end;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
  header .header-links.active {
    display: flex;
  }
  header .header-links.active .close {
    display: block;
  }
  .hero-container {
    background: url(../images/hero3.png) 0 center / 49% 100% no-repeat;
    height: 754px;
  }
  /* .hero-left {
    background: none;
    z-index: 2;
  }
  .hero-left::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 18, 183, 0.1);
    top: 0;
    left: 0;
  } */
  .hero-left {
    padding-top: 20px;
  }
  .hero-left h1 {
    position: relative;
    padding-bottom: 30px;
    font-size: 30px;
    letter-spacing: 0.6px;
  }
  .hero-left h1::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    background: #e4e3e3;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-left p {
    font-size: 22px;
    letter-spacing: 0.44px;
    max-width: 328px;
  }
  .hero-left .btn {
    margin-top: 50px;
  }
  .hero-right {
    width: 52%;
  }
  .slider {
    padding: 80px 0 210px;
  }
  .slider h2 {
    margin: 0 70px 70px;
  }
  .slider h2::before {
    width: 45px;
    right: -70px;
    top: 55%;
  }
  .slider h3 {
    font-size: 20px;
  }
  .swiper-slide {
    width: 263px !important;
  }
  .swiper-slide img {
    height: 400px;
  }
  .swiper-pagination {
    display: none;
  }
  .brand {
    padding: 80px 0 170px 60px;
  }
  .brand h2 {
    margin-bottom: 40px;
  }
  .brand article {
    max-width: 374px;
  }
  .brand article p,
  .brand article button {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
  .brand-imgs {
    right: 0;
    top: -80px;
    transform: translateY(0);
    width: 357px;
    height: 524px;
  }
  .brand-imgs figure:nth-child(2) {
    width: 197px;
    height: 236px;
    margin: -25% 0 0 -35%;
  }
  .parallax-container {
    padding: 250px 0 100px;
  }
  .parallax-container h2 {
    max-width: 559px;
    margin: auto;
  }
  .parallax-container h2,
  .parallax-container h2 i {
    font-size: 40px;
    letter-spacing: 1.2px;
  }
  .parallax-container h2::after {
    border-left: 250px solid transparent;
    border-right: 100px solid transparent;
    border-top: 300px solid var(--triangle);
    right: -28%;
    transform: rotate(-7deg);
  }
  .parallax-container p {
    font-size: 30px;
    letter-spacing: 0.9px;
    margin-top: 30px;
  }
  .parallax-imgs {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1.1fr;
    gap: 35px;
  }
  .parallax-imgs .left .small-fig {
    width: 126.212px;
    height: 132.089px;
  }
  .parallax-imgs .left .mid-fig {
    width: 100%;
    height: 300.963px;
  }
  .parallax-imgs .middle .xxl-fig {
    width: 100%;
    height: 372.023px;
  }
  .parallax-imgs .right .xl-fig {
    width: 100%;
    height: 357.811px;
  }
  .parallax-imgs .middle .btn {
    width: 180.994px;
    font-size: 13px;
    padding: 15px 0;
  }
  .parallax-imgs .middle .btn::before {
    display: block;
    width: 60px;
    left: -18px;
  }
  footer {
    padding: 80px;
  }
  .footer-links li {
    width: 192px;
    height: 32px;
  }
  .footer-links li a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 800px) {
  .brand article {
    width: 320px;
  }
  .brand-imgs figure:nth-child(2) {
    margin: -15% 0 0 -35%;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    letter-spacing: 0.42px;
  }
  .btn {
    width: 197px;
    font-size: 14px;
    letter-spacing: 1.4px;
    padding: 15px;
  }
  .hero-container {
    background-position: center 0;
    background-size: 100% 682px;
    height: auto;
  }
  header {
    padding: 20px 20px 70px;
  }
  header .logo {
    font-size: 22px;
    letter-spacing: 1.1px;
  }
  header .header-links {
    height: 682px;
    padding: 25px;
    background: url(../images/hero3.png) center center / cover no-repeat,
      rgba(0, 18, 183, 0.1);
  }
  .hero {
    flex-direction: column;
  }
  .hero-left {
    width: 100%;
    padding: 20px 20px 90px;
  }
  .hero-left h1 {
    font-size: 30px;
  }
  .hero-left p {
    font-size: 20px;
    letter-spacing: 0.4px;
    max-width: 284px;
  }
  .hero-left .btn {
    margin-top: 40px;
  }
  .hero-right {
    width: 100%;
    height: 565px;
    position: static;
    flex-shrink: 0;
    background: url(../images/hero2.png) center center / cover no-repeat fixed,
      lightgray 50% / cover no-repeat;
  }
  .slider {
    padding: 80px 0;
  }
  .slider h2 {
    margin: 0 20px 40px;
  }
  .slider h2::before {
    width: 30px;
    right: -50px;
  }
  .swiper-wrapper {
    padding-left: 20px;
  }
  .swiper-slide {
    width: 278.973px !important;
  }
  .swiper-slide img {
    height: 385.166px;
  }
  .controlers {
    display: none;
  }
  .brand {
    padding: 80px 25px 130px;
    position: static;
  }
  .brand article {
    width: 100%;
  }
  .brand h2 {
    font-size: 35px;
  }
  .brand-imgs {
    display: none;
  }
  .brand-imgs-mobile {
    display: block;
  }
  .brand-imgs-mobile figure:nth-child(1) {
    background: url(../images/brand1.png) center center / cover no-repeat,
      lightgray 50% / cover no-repeat;
    width: 90%;
    height: 524px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -50px;
  }
  .brand-imgs-mobile figure:nth-child(2) {
    background: url(../images/brand2.png) center center / cover no-repeat,
      lightgray 50% / cover no-repeat;
    width: 72%;
    height: 315px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: -120px 0 0 auto;
  }
  .parallax-container {
    padding: 100px 15px 50px;
  }
  .parallax-container h2,
  .parallax-container h2 i {
    font-size: 26px;
  }
  .parallax-container h2::after {
    display: none;
  }
  .parallax-container p {
    font-size: 20px;
  }
  .parallax-imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }
  .parallax-imgs .left {
    order: 2;
    width: 100%;
    flex-direction: row;
    gap: 10px;
  }
  .parallax-imgs .left .small-fig,
  .parallax-imgs .left .mid-fig {
    height: 342px;
  }
  .parallax-imgs .left .small-fig {
    width: 35%;
  }
  .parallax-imgs .left .mid-fig {
    width: 65%;
  }
  .parallax-imgs .middle {
    order: 1;
    width: 100%;
  }
  .parallax-imgs .middle .xxl-fig {
    height: 445px;
  }
  .parallax-imgs .right {
    order: 3;
    width: 100%;
  }
  .parallax-imgs .right .xl-fig {
    height: 364px;
  }
  .parallax-imgs .middle .btn {
    display: none;
  }
  .parallax-container .mobile-btn {
    display: block;
    width: 207.172px;
    margin: auto;
    order: 4;
    color: var(--black);
    border: 1px solid var(--black);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 98%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 12px;
    position: relative;
  }
  .parallax-container .mobile-btn::before {
    width: 45px;
    background: var(--black);
    display: block;
  }
  footer {
    padding: 80px 0;
  }
  .footer-links li {
    width: 236.74px;
    height: 39px;
  }
  .footer-links li a {
    font-size: 14px;
    line-height: 98px;
    letter-spacing: 0.28px;
  }
}
